/*RESET*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
a,a:visited,a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*----------------------------------------------*/
body{
    font-family: monospace;
    color: #3E2;
    background-color: #111;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 0px;
    height: 1em;
    width: 100%;
}

textarea {
    resize: none;
    overflow-y: auto;
    width: 100%;
}

#in::before {
    content: '';
}

#in {
    padding: 1em;
    height: 90vh;
    background-color: #111;
    color: #2e1;
}

.compile-button {
    padding: 1em;
    background-color: #333;
    text-transform: uppercase; 
    color: #fff;
    font-weight: 900;

}

.compile-button:hover {
    background-color: #eee;
    color: #941;
}